extends layout

include ../_includes/sharedFunctions

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +displayRating(location.rating)
          p= location.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening hours
            .panel-body
              each item in location.openingHours
                p 
                  | #{item.days} :
                  if item.closed 
                    | &nbsp; closed
                  else
                    | &nbsp; #{item.openingH} - #{item.closingH}

          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilites
            .panel-body
              each facility in location.facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                    &nbsp;#{facility}
                  &nbsp;

        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{location.map.longitude},#{location.map.latitude}&markers=#{location.map.longitude},#{location.map.latitude}&size=400x300&zoom=17&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              each review in location.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +displayRating(review.rating)
                      span.reviewAuthor= review.author
                      small.reviewTimestamp= review.timestamp
                    .col-xs-12
                      p= review.text

    .col-xs-12.col-md-3
      p.lead= sidebar.context
      p= sidebar.callToAction
